<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Market Cap</th>
                <th>Price</th>
                <th>Circulating Supply</th>
                <th>Volume 24 hours</th>
                <th>% 1h</th>
                <th>% 24h</th>
                <th>% 7d</th>
            </tr>
        </thead>
        <tbody>
            {% for row in query %}
                <tr>
                    <td>{{row.name}}</td>
                    <td>{{row.symbol}}</td>
                    <td>{{row.market_cap}}</td>
                    <td>{{row.price}}</td>
                    <td>{{row.circulating_supply}}</td>
                    <td>{{row.volume24h}}</td>
                    <td>{{row.one_hour}}</td>
                    <td>{{row.twenty_four_hour}}</td>
                    <td>{{row.seven_days}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>